
#matlab temporary files
*.asv

#matlab data files
*.mat

#data directory
data/

#plots directory
plots/

#test type file
test-type.txt

# R History files
.Rhistory
.Rapp.history

# Session Data files 
.RData

# RStudio Files
.Rproj.user/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
*.zip

# Plots
*.png

# Excel uncertainty
*.xlsm
*.xlsx

